<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<app-header-layout>
    <app-header fixed waterfall>
        <!-- top toolbar -->
        <app-toolbar>
            <!-- Menu button -->
            <paper-icon-button icon="menu">

            </paper-icon-button>
        </app-toolbar>

        <!-- bottom toolbar -->
        <app-toolbar>
            <div>Hemant</div>
        </app-toolbar>
    </app-header>
    
    <main>
        <!--Site Content>
        
    </main>
</app-header-layout>